@model Fresh0._1.Models.cl_cliente

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>cl_cliente</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.clinom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.clinom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cliapellido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cliapellido)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.clidir)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.clidir)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cliemail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cliemail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.clitel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.clitel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.clicel1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.clicel1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.clicel2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.clicel2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.clidpi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.clidpi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.clinit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.clinit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.clifchalt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.clifchalt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cliusualt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cliusualt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cl_cliente1.empcod)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cl_cliente1.empcod)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cl_cliente2.empcod)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cl_cliente2.empcod)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cl_empresa.enpnom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cl_empresa.enpnom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cl_estado.estdescripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cl_estado.estdescripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cl_geo_departamentos.depnom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cl_geo_departamentos.depnom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cl_geo_municipios.depcod)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cl_geo_municipios.depcod)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
